@*------------------------------------------------------------------------------------

    VUE PARTIELLE PERMETTANT L'AFFICHAGE DE CERTAINES STATISTIQUES DES VISITES ET CONNEXIONS EFFECTUÉS
    PAR LES MEMBRES SUR LE SITE

        --------------------------------------------------------------------------------------
        Par: Anthony Brochu et Marie-Ève Massé
        Novembre 2017
        Club Contact
        ------------------------------------------------------------------------------------*@   

@model ProjetSiteDeRencontre.ViewModel.StatistiqueViewModel

<div class="statistiqueMessagerie">
    @Html.Partial("RechercheParDateStatPartial")

    <div class="affichageStatistiques">
        <h3>Nombre de visites de membres premium dans cette période:</h3>
        <p>@Model.nbVisitesPremium visites</p>

        <h3>Nombre de visites de membres gratuits dans cette période:</h3>
        <p>@Model.nbVisitesGratuits visites</p>

        <h3>Nombre de visites de visiteurs dans cette période:</h3>
        <p>@Model.nbVisitesVisiteurs visites</p>
    </div>
</div>
