@*------------------------------------------------------------------------------------

    VUE CONTENENT LE COURRIEL QUI EST ENVOYÉ APRÈS L'INSCRIPTION ET QUI DEMANDE LA CONFIRMATION
    DU COURRIEL

        --------------------------------------------------------------------------------------
        Par: Anthony Brochu et Marie-Ève Massé
        Novembre 2017
        Club Contact
        ------------------------------------------------------------------------------------*@  

@model ProjetSiteDeRencontre.Models.Membre

@{
    ViewBag.Title = "CourrielConfirmation";
}

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <h2>Confirmation de l'inscription sur Club Contact</h2>
        <br/>
        <p>Merci de votre inscription chez Club Contact!</p>
        <p>Veuillez confirmer votre courriel avec le lien suivant:</p>
        <a href="@Url.Action("ConfirmerCourriel", "Membres", new { id = Model.noMembre }, Request.Url.Scheme)">Confirmer mon courriel</a>
    </body>
</html>
