/*------------------------------------------------------------------------------------

FICHIER DE STYLE DE BASE POUR TOUS LES CONTRÔLEURS
ATTENTION: DÉSUET, UTILISER LE NOUVEAU FICHIER:
    LESBASESTYLES.SCSS

--------------------------------------------------------------------------------------
Par: Anthony Brochu et Marie-Ève Massé
Novembre 2017
Club Contact
------------------------------------------------------------------------------------*/

body {
    min-width:930px;
    position:relative;
    min-height:1024px; /*Solution temporaire*/
}


/*Le logo*/
.logo{
    display:inline-block;
    width: 100%;
    height:100%;
}

#lienLogo{
    width:180px;
    height:100%;
    display:inline-block;
    padding-bottom:15px;
    margin:10px 5px 0px 15px;
}

.titreSite{
    position:relative;
    display:inline-block;
    margin-left:10px;
    vertical-align:middle;
}

.titreSite p{
    font-size:30px;
    color:#84197d;
    height:100%;
    width:100%;
    padding-bottom:3px;
    margin:0;
}

@media screen and (max-width: 920px)
{
    .titreSite{
        display:none;
    }
}

/*---------*/
/*700px max de largeur?*/

#barreHaut{
    position:relative;
    display:block;
    width:100%;
    padding: 3px 6px 0px 3px;
    background-color:#a4d555;
    /*height: 120px;*/
}

nav{
    text-align:right;
    width:750px;
    margin-right:10px;
    position: absolute;
    bottom:0;
    right:0;
}

#menu{
    padding:0;
    display:inline;
}

#menu li{
    display: inline-block;
    list-style-type:none;
    position: relative;
    margin-right:5px;
}
#menu li a{
    text-decoration:none;
}

.texteMenu{
    text-align:center !important;
    display:inline-block;
    color: #841983;
}

#menu p{
    text-align:left;
    font-size: 16px;
}

.icones{
    margin:1px;
    width:21px;
}
.imgProfil{
    margin: 1px;
    max-width:25px;
    max-height:25px;
}

/*Menu secondaire (dropdown)*/
.lienDropdown{
    color: #841983;
    margin: 0 15px;
}

.lienDropdown:hover{
    color:#841983;
}

#menu li ul{
    display:none;
    position:absolute;
    z-index:1;
    padding:0;
    margin:0;
    left:0;
    top:32px;
    width:120%;
}

#menuCompte{
    left:-60px !important;
    width:140px !important;
}

#menu li:hover ul{
    display:block;
    background-color:#ffffff;
}
#menu li li{
    border-bottom:5px solid #a4d555;
    display:block;
    padding:0;
    margin:0;
}
#menu li li:hover{
    background-color:#a4d555;
}


/*Footer*/

.contenuSansFooter{
    padding-bottom:80px;
}

footer{
    background-color:#a4d555;
    height:80px;
    width: 100%;
    position: absolute;
    bottom:0;
    text-align:center;
    line-height:80px;
}

footer p{
    margin: auto;
}

footer a{
    margin: 0 45px;
    font-size: 16px;
    color:#852181;
}

/*@media screen and (max-width: 700px)
{
    footer a{
        margin:0 15px;
    }
}
@media screen and (max-width: 460px)
{
    footer{
        background-color:#a4d555;
        height:90px;
        width: 100%;
        position: absolute;
        bottom:0;
        line-height:28px;
    }

    footer a{
        font-size:15px;
        padding: 0;
        width:auto;
        height:20px;
        display:block;
    }
}*/

footer a:hover{
    color:#a444d7;
    text-decoration:none;
}

/*Common Stuff*/

.colorText{
    color:#84197d;
}

.centerW60H40px{
    width:60%;
    height:40px;
    margin: 0 auto;
}

.floatRight{
    float:right;
}

.floatLeft{
    float:left;
}

.alignCenter{
    text-align:center;
}

.alignRight{
    text-align:right;
}

.w100h100{
    width:100%;
    height:100%;
}

.w5{
    display:inline-block;
    width:5%;
}

.photo240x240{
    display:inline-block;
    width:240px;
    height:240px;
    margin-bottom:15px;
}

.photo150x150{
    display:inline-block;
    max-width:150px;
    max-height:150px;
    min-height:25px;
    min-width:25px;
}

.photo30x30{
    display:inline-block;
    width:30px;
    height:30px;
}

.lignePhoto{
    display:inline-block;
    width:100%;
}
.divRadioButton{
    display:inline-block;
    width:20%;
    padding:0;
    margin:0;
}
.inputPhoto{
    display:inline-block !important;
    width:145px;
    margin-right:5%;
}

.padding0{
    padding:0 !important;
}

.ajouterPhotos{
    cursor:pointer;
}

/*----------Slideshow---------*/
.entetePhoto{
    position:relative;
    overflow:hidden;
    background-color:lightblue;
    border-radius:106px;
    height:650px;
}

.slideshow-container{
    max-width:1200px;
    height:100%;
    position:relative;
    overflow:hidden;
    margin:60px auto 0 auto;
    padding: 0 50px;
}

.mySlides{
    position:relative;
    z-index:1;
    display:none;
}

.prev, .next{
    cursor:pointer;
    position:absolute;
    top:50%;
    width:auto;
    margin-top:-22px;
    padding:16px;
    color:white;
    font-weight:bold;
    font-size:18px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
}

.prev{
    left:0;
}

.next{
    right:0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.text{
    color: #f2f2f2;
    font-size:15px;
    padding:8px 12px;
    position:absolute;
    bottom:8px;
    width:100%;
    text-align:center;
}

.numberText{
    color: #f2f2f2;
    font-size:12px;
    padding:8px 12px;
    position:absolute;
    top:0;
}

.active{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name:fade;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
}

@-webkit-keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}
@keyframes fade{
    from{opacity: .4}
    to{opacity: 1}
}


.photoDetailLaPhoto{
    display:block;
    margin:0 auto;
    height:auto;
    width:auto;
    min-width:100px;
    min-height:100px;

    max-width:500px;
    max-height:500px;
}

.prevPhotoCarousel{
    position:absolute;
    top:40%;
    margin-left:50px;
    z-index:0 !important;
    left:0;
} 
    
.nextPhotoCarousel{
    position:absolute;
    top:40%;
    margin-right:50px;
    z-index:0 !important;
    right:0;
}

.nextPrevPhoto{
    opacity:0.7;
}

.photoDetailPrincipale{
    padding-top:0 !important;
}

.photoDetail{
    padding-top:49px;
}

.photoProfil{
    max-height:500px;
    border: 10px solid green !important;
}

.titrePhotoProfil{
    font-size:35px;
    font-weight:bold;
    margin:0 0 11px 0;
}
.col2{
    display:inline-block;
    vertical-align:top;
    width:49%;
}
.textRaisonSite{
    list-style-type:none;
}

.sectionPresentation{
    background-color:beige;
}

/*Nouvelle version Page détails*/
.informationsBase{
}
.raisonsSite{
    margin-bottom:6%;
    margin-top:6%;
}

.interactions{
}

.colDroite{
    display:inline-block;
    margin:1%;
    text-align:center;
    min-width:260px;
    width:17%;
    float:left;
    vertical-align:top;
}

.presentation, .interactions, .progressBar{
    border-radius:10px;
    border:5px solid #881983;
}

.presentation{
    padding-top: 10%;
}

.presentation img{
    max-width:100%;
    max-height:100%;
}
.imageProfilEtoile{
    margin: 0 auto;
    max-width:90%;
    max-height:90%;
    position:relative;
}
.ajouterFavorisEtoile{
    position:absolute;
    bottom:0;
    right:0;
    width:50px;
    height:50px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-position:right;
}
.etoileFavoris{
    width:100%;
    height:100%;
}


.informationsBase, .interactions .nonConnecte h3, .cadeauxRecus{
    border-bottom:1px solid #881983;
}

.informationsBase{
    padding: 10% 0;
    padding:13px;
}
.informationsBase h2, .informationsBase h1{
    margin:4% 0;
}
.informationsBase h1{
    font-size:35px;
    font-weight:bold;
    padding:7%;
}
.informationsBase h2{
    font-size:25px;
}

.raisonsSite h3{
    margin: 5% 0;
    font-weight:bold;
}

.listeRaisonsSite{
    padding:0;
    margin:0;
    font-size:17px;
}
.listeRaisonsSite li{
    margin:1%;
}
.raisonsSite h4{
    font-size:17px;
    font-weight:bold;
}

.interactions{
    margin-top:10%;
}

.navigation{
    margin: 5%;
}



.interactions h3{
    margin:0;
    padding: 7% 0;
    font-weight:bold;
    font-size:30px;
}

.interactions h4{
    margin-top:8%;
    font-size:20px;
    font-weight:bold;
}

.boutonInteraction{
    width:70%;
    margin: 3% auto;
    display:block;
    text-align:center;
    height:40px;
    background-color:#C826C8;
    border-radius:10px;
    color:white;
    text-shadow:none;
}

.boutonInteraction img, .boutonBloquerActive img, .boutonBloquerNonActive img{
    height:20px;
    width:20px;
    margin-right:5px;
}

.boutonBloquerNonActive{
    width:70%;
    margin: 3% auto;
    display:block;
    text-align:center;
    height:40px;
    background-color:#a7a7a7;
    border-radius:10px;
    color:white;
    text-shadow:none;
}
.boutonBloquerNonActive:hover{
    background-color:red;
}

.boutonBloquerActive{
    width:70%;
    margin: 3% auto;
    display:block;
    text-align:center;
    height:40px;
    background-color:red;
    border-radius:10px;
    color:white;
    text-shadow:none;
}

.boutonBloquerActive:hover{
    background-color:#a7a7a7;
}

.boutonSuggestionNonPremium{
    width:70%;
    margin: 3% auto;
    display:block;
    text-align:center;
    height:40px;
    background-color:grey;
    border-radius:10px;
    color:white;
    text-shadow:none;
}

.cadeauxRecus{
    padding: 10% 0;
}
.boutonNavigation{
    width:70%;
    margin: 3% auto;
    display:block;
    text-align:center;
    height:30px;
    background-color:#e245ff;
    border-radius:10px;
    color:white;
    text-shadow:none;
    font-size:15px; 
}
.lienVersPages{
    color: #C826C8;
    text-decoration:none;
    font-size:20px;
    display:block;
}
.lienVersPages:visited, .lienVersPages:focus{
    text-decoration:none;
    color:#C826C8;
}
.lienVersPages:hover{
    color:blue;
    text-decoration:none;
}

.progressBar progress {
    border-radius:5px;
    background-color:red;
    vertical-align:middle;
}
.progressBar progress::-webkit-progress-bar{
    border-radius:5px;
    background-color:grey;
}
.progressBar progress::-webkit-progress-value{
    border-radius:5px;
    background-color:#22b8ee;
}
.progressBar progress::-moz-progress-bar{
    border-radius:5px;
    background-color:#22b8ee;
}

.progressBar{
    margin-bottom: 10%;
    padding:5% 0;
}

.progressBar h3{
    font-size:20px;
    margin: 0 0 5% 0;
    padding: 0;
    font-weight:bold;
}
.progressBar p{
    height:100%;
    display:inline-block;
    font-size:15px;
    margin:0;
}

.colPrincipale{
    overflow:hidden;
    min-height:1200px;
    display:inline-block;
    width:68%;
    background-color:#f6ffc7;
    margin:1%;
}

.colPrincipale h2{
    padding: 0 0 3% 0;
    font-weight:bold;
    font-size:3em;
    border-bottom:1px solid #881983;
    margin:3% 0 0 0;
    color: #3f4db8;
}

.col1{
    display:inline-block;
    vertical-align:top;
    width:47%;
    height:100%;
    min-width:370px;
    margin: 0.2% 0.9% 0 0.9%;
}
.border{
    vertical-align:top;
    display:inline-block;
    padding-bottom:9999px;
    margin-bottom:-9999px;
    width:1px;
    border: 1px dotted #881983;
    background-repeat: repeat;
}

@media screen and (max-width: 1161px)
{
    .border{
        border:none;
        width:3px;
        margin-bottom:0;
        padding-bottom:0;
    }
}

@media screen and (max-width: 1150px)
{
    .border{
        display:none;
    }
}

.description h3{
    text-align:center;
    font-size:26px;
    font-weight:bold;
    margin: 5% 0 6% 0;
}
.description{
    text-align:left;
}
.description p{
    font-size:19px;
}

.physique h3{
    text-align:center;
    font-size:26px;
    font-weight:bold;
    margin: 0 0 6% 0;
}

.labels{
    display:inline-block;
    width:49%;
}

.propriete{

    font-size:18px;
    margin-bottom:10px;
}

.labels{
    text-align:right;
}

.propriete p{
    display:inline-block;
    text-align:left;
    margin:0;
    float:right;
    max-width:2000px;
    width:40%;
}

.mesInterets h3{
    font-size:26px;
    font-weight:bold;
}

#Hobbies .iconesLabel{
    width:40px;
    height:40px;
    margin:0 auto;
}
#Hobbies .labelHobbies{
    font-size:15px;
    text-align:center;
}
.labelHobbiesMusique{
    display:list-item;
    font-size:15px;
    text-align:left;
    list-style-type:circle;
}

.iconesLabel, .labelHobbies{
    display:block;
}

#Hobbies{
    text-align:left;
}

#Hobbies h3{
    vertical-align:middle;
    margin:0 0 0 15px;
    display:inline-block;
    font-size:25px;
}
.unHobbie{
    display:inline-block;
    margin: 15px 15px;
    width:25%;
    height:25%;
}
.unHobbieMusique{
    display:block;
    margin: 15px 40px;
}

.unType{
    margin-bottom:45px;
}
.iconesTitre{
    vertical-align:middle;
    display:inline-block;
    width:7%;
    height:100%;
    position:relative;
}
.titre{
    margin-bottom:2%;
    width:100%;
    height:25%;
    vertical-align:middle;
    display:block;
    position:relative;
    color:#3f4db8;
}
.titre h4{
    vertical-align: middle;
    margin: 0 0 0 15px;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
}

.endroit h3{
    font-size:26px;
    font-weight:bold;
    margin: 8% 0 6% 0;
}

.autresDetails h3{
    font-size:26px;
    font-weight:bold;
    margin: 8% 0 6% 0;
}

.proprieteEnfants{
    text-align:left;
    margin-left:15%;
    font-size:18px;
}

.colLeft > div{
    margin-bottom: 15%;
}

.contenu h3{
    color:#3f4db8;
}

.boutonCompleterProfil{
    margin-top: 10%;
}
#googleMaps{
    width:100%;
    height:400px;
    margin-top:15%;
}

.titre h2{
    color:black;
}

/*INDEX*/

.unePersonne{
    vertical-align:top;
    width:459px;
    min-width:459px;
    display:inline-block;
    background-color:#f6ffc7;
    border: 5px solid #881983;
    height:220px;
    margin:1%;
    border-radius:50px;
}

@media screen and (max-width:1161px)
{
    .unePersonne{
        margin-left: auto;
        margin-right:auto;
    }
}

.photoProfilRecherche{
    margin: 0 auto;
    vertical-align:top;
    display:inline-block;
    margin:5%;
    vertical-align:top;
    max-width:169px;
    max-height:220px;
}
.photoAffiche{
    max-width:100%;
    max-height:170px;
}
.informations{
    margin: 5% 0;
    text-align:left;
    width:42%;
    height:100%;
    display:inline-block;
    max-height:200px;
}
.informations h3{
    font-size:36px;
    font-weight:bold;
    margin:0;
    margin-bottom:3%;
}
.informations p{
    font-size:20px;
    margin:0;
}

.boutonVoirProfilRecherche{
    margin-top:8%;
    width:80%;
    display:block;
    height:30px;
    background-color:#e245ff;
    border-radius:10px;
    color:white;
    text-shadow:none;
    font-size:15px;
}

.resultatRecherche{
    display:inline-block;
    width:81%;
    margin: 2% auto 0 auto;
    margin-left:235px;
    text-align:center;
}
@media screen and (max-width:1265px)
{
    .resultatRecherche{
        width:70%;
    }
}
.pagi{
    text-align:center;
}

.page {
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.page li{
    margin:0; 
   display:inline-block;
}
.page li a{
    border:1px solid #881983;
    border-radius: 4px;
    text-decoration:none;
    padding:10px 15px;
    color:#00b0f0;
}
.page li a:hover{
    background-color:#881983;
    color:#00b0f0;
}
.activePage{
    background-color:#881983;
}

/*FIN INDEX*/

/*DÉBUT TRIPAR*/
.barreDuHaut{
    margin-left:20%;
    width:75%;
}
.nbResultatsRecherche{
    vertical-align:middle;
    display:inline-block;
    width:74%;
}
.nbResultatsRecherche p{
    margin:0;
    font-size:27px;
    font-weight:bold;
}

.triPar{
    vertical-align:middle;
    width:24%;
    display:inline-block;
    margin:1% 0 1% 0;
    text-align:right;
}
.triPar p{
    vertical-align:middle;
    margin:0 11px 0 0;
    display:inline-block;
    font-size:20px;
}
.triPar select{
    vertical-align:middle;
    height:30px;
    border: 1px solid black;
    border-radius:4px;
    padding:5px;
}
/*FIN TRIPAR*/

/*RECHERCHE*/
.recherchePropriete, .rechercheValeurMaxMin{
    margin: 10% 0;
}

.recherchePropriete label, .rechercheValeurMaxMin label{
    display:block;
}

.rechercheAutres .etrePremium{
    text-align:center;
}

.boutonRecherche{
    float:right;
    width:100%;
    margin: 3% 1%;
    display:inline-block;
    height:40px;
    background-color:#C826C8;
    border-radius:10px;
    color:white;
    text-shadow:none;
    font-size:16px;
}
.boutonEfface{
    width:60%;
    margin: 3% 1%;
    display:inline-block;
    height:30px;
    background-color:#C826C8;
    border-radius:10px;
    color:white;
    text-shadow:none;
    font-size:16px;
}

.recherchePropriete label{
    margin-bottom:7%;
}

.recherchePropriete .criteresEditeurs{
    width:100%;
    display:block;

    height:25px;
    border: 1px solid black;
    border-radius:4px;
    padding:3px;
}
.recherchePropriete p{
    display:inline-block;
}

.distanceEntreNous .criteresEditeurs{
    max-width:35%;
    display:inline-block;
    margin-right:2%;
}

.rechercheValeurMaxMin .criteresEditeurs{
    max-width:25%;
    display:inline-block;

    height:25px;
    border: 1px solid black;
    border-radius:4px;
    padding:5px;
    margin:0 1%;
}
.rechercheValeurMaxMin p {
    display:inline-block;
    font-size:15px;
    margin:3% 0;
}

.laRecherche{
    position:absolute;
    vertical-align:top;
    margin:2% 0 0 1%;
    padding:1% 1.5%;
    display:inline-block;
    width:230px;
    border:5px solid #881983;
}
.laRecherche h3{
    text-align:center;
    margin: 4% 0 10% 0;
    padding:0;
    font-size:25px;
    font-weight:bold;
    color:#22b8ee;
    width:100%;
}
.laRecherche h4{
    border-top:1px solid #881983;
    text-align:center;
    font-weight:bold;
    font-size:18px;
    margin:14% -10% 10% -10%;
    padding:5% 10%;
    color:#22b8ee;
}
.messageErreurRecherche{
    color:red;
    display:block;
}

.formIndex{
    margin-bottom:1%;
    min-width:10px;
    min-height: 2250px;
}
/*FIN RECHERCHE*/



/*Liste Noire ET listeFavoris*/
.boutonSauvegarderListeNoireFavoris{
    width:20%;
    margin: 3% 25%;
    display:block;
    float:right;
    height:40px;
    background-color:#C826C8;
    border-radius:10px;
    color:white;
    text-shadow:none;
    font-size:15px; 
}

.conteneurMembresListe{
    text-align:center;
}

.conteneurMembresListe .messageSiVideListe{
    font-size:15px;
    font-style:italic;
}

.messageConfirmationListe{ 
    font-size:18px;
    font-style:italic;
    text-align:center;
    color:green;
    margin-bottom:3%;
}
/*Fin liste Noire ET listeFavoris*/

/*Début VuePartial MembresListe*/

.titreListe{
    margin:4%;
    font-weight:bold;
    font-size:26px;
}

.membreListe{
    width:50%;
    margin: 2% auto;
    border: 2px solid #22b8ee/*#C826C8*/;
    border-radius:30px;
    padding:1%;
}

.membreListe p{
    display:inline-block;
    font-size:30px;
    height:50%;
    margin:0 4%;
    vertical-align:middle;
}

.removeMembre{
    cursor:pointer;
}
/*Fin VuePartial MembresListe*/

/*Début PAIEMENT*/
.passerAPremium{
    min-height:900px;
    background-color:#f6ffc7;
    width:50%;
    margin: 0 auto;
}
.passerAPremium h3{
    text-align:center;
    margin:0;
    padding:0 0 5% 0;
    font-size:25px;
    font-weight:bold;
    color:#075aa9;
}
.divLabelPaiement{
    margin-right:15%;
    text-align:right;
    display:block;
}
.labelPaiement{
    width:50%;
    color:#84197d;
    margin-right:30px;
    margin-bottom:0;
}

.divEditeurPaiement{
    display:inline-block;
    width:40%;
    margin:0.5em 0;
    vertical-align:middle;
}

.editeurPaiement{
    width:100%;
    height:34px;
    border: 1px solid black;
    border-radius:4px;
    padding:5px;
}
.editeurMoisDateExpirationPaiement{
    width: 55%;
    display:inline-block;
    height:34px;
    border: 1px solid black;
    border-radius:4px;
    padding:5px;
}
.editeurAnneeDateExpirationPaiement{
    width: 38.5%;
    display:inline-block;
    height:34px;
    border: 1px solid black;
    border-radius:4px;
    padding:5px;
}
.separationDateExpiration{
    display:inline-block;
    font-size:25px;
    margin:0;
    vertical-align:middle;
}

.divBtnPaiement{
    text-align:right;
    width:100%;
    padding-right:15%;
}
.btnPaiement {
    width:30%;
    margin: 4% 0;
    height:40px;
    background-color:#C826C8;
    border-radius:10px;
    color:white;
    text-shadow:none;
    font-size:15px; 
}

.messageErreurPaiement{
    display:block;
    padding:0px 5px 0px 0px;
    color:red;
}
.messageErreurPaiementNonFonctionne{
    display:block;
    padding:0px 5px 0px 0px;
    color:red;
    text-align:center;
    padding:5% 0 0 0;
}
.informationsPaiement{
    text-align:center;
}
.informationsPaiement h4{
    font-size:21px;
    font-weight:bold;
    margin-bottom:5%;
}

.presentationOptions{
    width:100%;
    text-align:center;
    margin-bottom:7%;
}
.presentationOptions h4{
    font-size:21px;
    font-weight:bold;
    margin-bottom:5%;
}
.presentationOptions .choixMoisPaiement{
    display:inline-block;
    width:25%;
}
.choixMoisPaiement p{
    display:inline-block;
    margin: 1% 10% 1% 1%;
}
.presentationOptions .choixMoisPaiement .prixTotal{
    display:inline-block;
    margin: 1% 10% 1% 1%;
}
.presentationOptions .radioButtonChoixNbMois{
    vertical-align:middle;
    margin:0;
    margin:6px 6px;
    height:15px;
    width:15px;

}
.presentationOptions .labelChoixMois{
    margin:0;
    vertical-align:middle;
    font-size:15px;
}

@media screen and (max-width:1347px)
{
    .passerAPremium{
        width:55%;
    }
}
@media screen and (max-width:1226px)
{
    .passerAPremium{
        width:60%;
    }
}
@media screen and (max-width:1126px)
{
    .passerAPremium{
        width:65%;
    }
}
@media screen and (max-width:1040px)
{
    .passerAPremium{
        width:70%;
    }
}
@media screen and (max-width:967px)
{
    .passerAPremium{
        width:75%;
    }
}

/*Fin PAIEMENT*/

/*Début AccueilMembre*/

.dernieresVisiteSurSonProfil{
    width:20%;
    margin-left:100px;
    border:5px solid #881983;
    border-radius:9px;
    padding:1%;
}
.dernieresVisiteSurSonProfil h2{
    font-size:25px;
    font-weight:bold;
    text-align:center;
}
.dernieresVisiteSurSonProfil a{
    font-size:20px;
    margin: 1% 1% 1% 1%;
}

/*Fin AccueilMembre*/