body {
  min-width: 930px;
  position: relative;
  min-height: 1024px;
  /*Solution temporaire*/ }

/*Le logo*/
.logo {
  display: inline-block;
  width: 100%;
  height: 100%; }

#lienLogo {
  width: 180px;
  height: 100%;
  display: inline-block;
  padding-bottom: 15px;
  margin: 10px 5px 0px 15px; }

.titreSite {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle; }

.titreSite p {
  font-size: 30px;
  color: #84197d;
  height: 100%;
  width: 100%;
  padding-bottom: 3px;
  margin: 0; }

@media screen and (max-width: 920px) {
  .titreSite {
    display: none; } }

/*---------*/
/*700px max de largeur?*/
#barreHaut {
  position: relative;
  display: block;
  width: 100%;
  padding: 3px 6px 0px 3px;
  background-color: #a4d555;
  /*height: 120px;*/ }

nav {
  text-align: right;
  width: 750px;
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  right: 0; }

#menu {
  padding: 0;
  display: inline; }

#menu li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  margin-right: 5px; }

#menu li a {
  text-decoration: none; }

.texteMenu {
  text-align: center !important;
  display: inline-block;
  color: #841983; }

#menu p {
  text-align: left;
  font-size: 16px; }

.icones {
  margin: 1px;
  width: 21px; }

.imgProfil {
  margin: 1px;
  width: 25px; }

/*Menu secondaire (dropdown)*/
.lienDropdown {
  color: #841983;
  margin: 0 15px; }

.lienDropdown:hover {
  color: #841983; }

#menu li ul {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
  left: 0;
  top: 32px;
  width: 120%; }

#menuCompte {
  left: -60px !important;
  width: 140px !important; }

#menu li:hover ul {
  display: block;
  background-color: #ffffff; }

#menu li li {
  border-bottom: 5px solid #a4d555;
  display: block;
  padding: 0;
  margin: 0; }

#menu li li:hover {
  background-color: #a4d555; }

/*Footer*/
.contenuSansFooter {
  padding-bottom: 80px; }

footer {
  background-color: #a4d555;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 80px; }

footer p {
  margin: auto; }

footer a {
  margin: 0 45px;
  font-size: 16px;
  color: #852181; }

/*@media screen and (max-width: 700px)
{
    footer a{
        margin:0 15px;
    }
}
@media screen and (max-width: 460px)
{
    footer{
        background-color:#a4d555;
        height:90px;
        width: 100%;
        position: absolute;
        bottom:0;
        line-height:28px;
    }

    footer a{
        font-size:15px;
        padding: 0;
        width:auto;
        height:20px;
        display:block;
    }
}*/
footer a:hover {
  color: #a444d7;
  text-decoration: none; }

/*Common Stuff*/
.colorText {
  color: #84197d; }

.centerW60H40px {
  width: 60%;
  height: 40px;
  margin: 0 auto; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.alignCenter {
  text-align: center; }

.alignRight {
  text-align: right; }

.w100h100 {
  width: 100%;
  height: 100%; }

.w5 {
  display: inline-block;
  width: 5%; }

.photo240x240 {
  display: inline-block;
  width: 240px;
  height: 240px;
  margin-bottom: 15px; }

.photo150x150 {
  display: inline-block;
  width: 150px;
  height: 150px; }

.photo30x30 {
  display: inline-block;
  width: 30px;
  height: 30px; }

.lignePhoto {
  display: inline-block;
  width: 100%; }

.divRadioButton {
  display: inline-block;
  width: 20%;
  padding: 0;
  margin: 0; }

.inputPhoto {
  display: inline-block !important;
  width: 145px;
  margin-right: 5%; }

.padding0 {
  padding: 0 !important; }

.ajouterPhotos {
  cursor: pointer; }

/*----------Slideshow---------*/
.slideshow-container {
  max-width: 1200px;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 10px auto 0 auto;
  padding: 0 50px; }

.mySlides {
  position: relative;
  z-index: 1;
  display: none; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.prev {
  left: 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

.photoDetailLaPhoto {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  min-width: 100px;
  min-height: 100px;
  max-width: 500px;
  max-height: 500px; }

/*.prevPhotoCarousel{
    transform:translate(-25%, -150%);
    z-index:0 !important;
}
.nextPhotoCarousel{
    transform:translate(300px, -390px);
    z-index:0 !important;
}

.nextPrevPhoto{
    opacity:0.7;
}

.photoSelectionee{
    border: 10px ridge black;
    border-style:ridge;
}

.photoDetailPrincipale{

}

.photoDetail{
}

.photoProfil{
    max-height:500px;
    border: 10px solid green !important;
}

.titrePhotoProfil{
    font-size:35px;
    font-weight:bold;
}*/
.prevPhotoCarousel {
  position: absolute;
  top: 40%;
  margin-left: 50px;
  z-index: 0 !important;
  left: 0; }

.nextPhotoCarousel {
  position: absolute;
  top: 40%;
  margin-right: 50px;
  z-index: 0 !important;
  right: 0; }

.nextPrevPhoto {
  opacity: 0.7; }

.photoSelectionee {
  border: 10px ridge black;
  border-style: ridge; }

.photoDetailPrincipale {
  padding-top: 0 !important; }

.photoDetail {
  padding-top: 49px; }

.photoProfil {
  max-height: 500px;
  border: 10px solid green !important; }

.titrePhotoProfil {
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 11px 0; }

