@charset "UTF-8";
/*------------------------------------------------------------------------------------

FEUILLE DE STYLE POUR LES CONTRÔLEURS:
    FORFAITSPREMIUM
    ADMIN
    COMPTESADMIN
    ..ET TOUT CE QUI ATTRAIT DE PRÈS OU DE LOIN À LA PARTIE ADMINISTRATEUR

--------------------------------------------------------------------------------------
Par: Anthony Brochu et Marie-Ève Massé
Novembre 2017
Club Contact
------------------------------------------------------------------------------------*/
.membresSection, .sectionSignalement, .sectionAbonnement,
.statistiqueMessagerie {
  border: 2.5px solid #881983;
  border-radius: 4px;
  width: 97%;
  margin: 0 auto;
  padding: 15px 20px; }
  .membresSection h3, .sectionSignalement h3, .sectionAbonnement h3,
  .statistiqueMessagerie h3 {
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0; }

/*Début Gestion Membres*/
.compteDeleted {
  color: red; }

.membresSection .nbMembresTotal {
  width: 100%;
  text-align: center;
  font-size: 20px; }
  .membresSection .nbMembresTotal p {
    margin: 20px 0 0 0; }

.membresSection .rechercheMembres button {
  display: block;
  width: 10%;
  margin: 20px 0 10px 70%; }

.membresSection .rechercheMembres label {
  margin-right: 10px; }

.membresSection .rechercheMembres .premiumUniquement, .membresSection .rechercheMembres .trancheAge, .membresSection .rechercheMembres .triMembrePar {
  display: inline-block;
  margin: 0 1%;
  text-align: center; }

.membresSection .rechercheMembres .premiumUniquement {
  width: 30%; }

.membresSection .rechercheMembres .triMembrePar {
  display: block;
  text-align: right;
  margin: 15px 20%; }

.membresSection .rechercheMembres .trancheAge {
  width: 50%; }

.membresSection .rechercheMembres .ageMin, .membresSection .rechercheMembres .ageMax {
  display: inline-block;
  width: 49%; }

.membresSection .rechercheMembres .ageMinEtMaxEditeur {
  width: 50px; }

.membresSection .rechercheMembres .province p, .membresSection .rechercheMembres .ville p, .membresSection .rechercheMembres .membreDesactive p {
  display: inline-block; }

.membresSection .rechercheMembres .provinceEtVille {
  margin-top: 2%; }

.membresSection .rechercheMembres .province, .membresSection .rechercheMembres .ville {
  width: 30%;
  text-align: center;
  display: inline-block;
  margin: 0 1%; }

.membresSection .rechercheMembres .editeurRechercheStatActivite {
  width: 130px; }

.membresSection .rechercheMembres .membresDesactive {
  text-align: right;
  margin: 15px 20%; }

.listeDesMembres, .listeOrganisateur {
  text-align: center; }

.headerListeMembre {
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid black;
  font-weight: bold; }
  .headerListeMembre div {
    display: inline-block; }

.unMembreGestion {
  cursor: pointer;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px  dotted black;
  text-align: center; }
  .unMembreGestion div {
    display: inline-block; }

.couronneGestion {
  width: 15px;
  height: 15px; }

.premiumMembre {
  width: 0.5%; }

.surnomMembre {
  width: 10%;
  overflow-wrap: break-word; }

.nomMembre {
  width: 10%; }

.prenomMembre {
  width: 10%; }

.courrielMembre {
  width: 11%;
  overflow-wrap: break-word;
  text-align: left; }

.dateInscriptionMembre {
  width: 9%; }

.dateDerniereConnexion {
  width: 9%; }

.alignLeft {
  text-align: center; }

.sexeMembre {
  width: 3.5%; }

.ageMembre {
  width: 3.5%; }

.raisonSurSiteMembre {
  width: 10%;
  overflow-wrap: break-word;
  text-align: left; }

.habitationMembre {
  width: 15%;
  text-align: left; }

/*Fin GestionMembre*/
/*Début Signalement*/
.sectionSignalement {
  position: relative; }
  .sectionSignalement .recherchePlaintes {
    margin: 30px 0; }
    .sectionSignalement .recherchePlaintes label {
      margin-right: 10px; }
    .sectionSignalement .recherchePlaintes .editeurEtatPlainte {
      margin-right: 10px; }

.titreListePlaintes div, .barreSectionSignalementGestion div {
  display: inline-block; }

.titreListePlaintes {
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px 0;
  margin-bottom: 15px; }

.barreSectionSignalementGestion {
  cursor: pointer;
  line-height: 60px; }

.sectionSignalementGestion {
  text-align: center;
  margin-bottom: 10px;
  background-color: #f6ffc7;
  padding: 0 0;
  border-radius: 4px; }
  .sectionSignalementGestion a:hover, .sectionSignalementGestion a:visited, .sectionSignalementGestion a:focus, .sectionSignalementGestion a:visited {
    text-decoration: none; }

.sectionRefermable {
  text-align: left;
  margin: 0px auto;
  padding: 0 0 30px 0;
  width: 55%; }
  .sectionRefermable .raisonPlainte {
    margin: 15px 0 30px 0; }
  .sectionRefermable .messageJoint {
    margin: 15px 0 30px 0; }
    .sectionRefermable .messageJoint div {
      margin: 25px 0; }
  .sectionRefermable .voirProfilPlainte, .sectionRefermable .envoyerMessagePlainte, .sectionRefermable .desactiverCompte {
    cursor: pointer;
    margin: 10px 0; }
  .sectionRefermable .changerEtatPlainte {
    margin: 30px 0; }
    .sectionRefermable .changerEtatPlainte .editeurEtatPlainte {
      margin: 0 30px 0 10px;
      width: 20%; }

.nomEnvoyeurPlainte {
  width: 19%; }

.nomContreQuiEstPlainte {
  width: 19%; }

.traiteParHeader {
  width: 19%; }

.etatPlainte {
  width: 19%; }

.datePlainte {
  width: 19%; }

.nbPlaintesRecuSite h4, .nbPlaintesNouveau h4, .nbPlaintesTraites h4 {
  font-weight: bold; }

.nbPlaintesRecuSite p, .nbPlaintesNouveau p, .nbPlaintesTraites p {
  font-size: 17px; }

.legendeEtatsSignalements {
  position: absolute;
  top: 0;
  right: 0;
  width: 550px;
  border: 1px solid #881983;
  border-radius: 4px;
  padding: 10px;
  margin: 20px; }
  .legendeEtatsSignalements p {
    margin: 0; }

.ajoutCommentaire .nouveauCommentaire {
  margin-top: 40px; }
  .ajoutCommentaire .nouveauCommentaire p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; }

.ajoutCommentaire .header div, .ajoutCommentaire .unCommentaire div, .ajoutCommentaire .nouveauCommentaire div {
  display: inline-block;
  text-align: center; }

.ajoutCommentaire .header {
  font-weight: bold;
  margin-bottom: 20px; }

.ajoutCommentaire .unCommentaire {
  margin-top: 10px; }
  .ajoutCommentaire .unCommentaire .leCommentaire {
    text-align: left;
    overflow-wrap: break-word;
    vertical-align: middle; }

.ajoutCommentaire .ajoutCommentaireTextArea {
  width: 100%;
  resize: none;
  vertical-align: middle; }

.messageErreurCommentaire {
  color: red;
  display: block;
  text-align: center; }

.boutonAjouterCommentaire {
  vertical-align: middle; }

.divBoutonEnvoyerCommentaire {
  width: 20%; }

.textAreaCommentaire {
  width: 50%; }

.envoyeurCommentaire {
  width: 20%; }

.leCommentaire {
  width: 50%; }

.dateEnvoieCommentaire {
  width: 20%; }

/*Liste des commentaires*/
/*Fin Signalement*/
.table th {
  font-size: 25px;
  font-weight: bold;
  margin: 200px; }

.bodyGestionAdmin {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%; }

.affichageStatActivite label {
  font-size: 20px; }

.affichageStatActivite p {
  font-size: 20px; }

/*Début rechercheDate*/
.rechercheDate {
  display: block;
  width: 100%;
  margin: 20px 0; }
  .rechercheDate div {
    width: 40%;
    display: inline-block;
    margin: 20px 0; }
    .rechercheDate div h3 {
      font-weight: bold; }
    .rechercheDate div .editeurJourRecherche {
      width: 15%;
      height: 30px; }
    .rechercheDate div .editeurMoisRecherche {
      height: 30px;
      width: 30%; }

/*Fin rechercheDate*/
/*Début Abonnements*/
.factureDetailleeAbonnements {
  padding-bottom: 30px; }
  .factureDetailleeAbonnements p {
    display: inline-block;
    width: 20%;
    text-align: left; }
  .factureDetailleeAbonnements label {
    width: 20%;
    text-align: right;
    margin-right: 2%; }
  .factureDetailleeAbonnements .unCout {
    text-align: right;
    padding-right: 16%; }
  .factureDetailleeAbonnements hr {
    border-color: black;
    border-style: dotted;
    margin-left: 30%;
    margin-right: 30%; }

.nbDesabonnement {
  font-size: 17px;
  margin-bottom: 30px; }

.sectionAbonnementBackground {
  background-color: #f6ffc7; }

.sectionAbonnement {
  width: 90%; }

.statistiquesNbAbonnements {
  font-size: 17px;
  margin: 30px 0; }

.revenuTotal {
  font-size: 17px; }
  .revenuTotal h3 {
    margin-top: 30px; }
  .revenuTotal label {
    font-size: 19px; }

/*Fin Abonnements*/
/*Début Messagerie*/
.statistiqueMessagerie {
  width: 90%; }
  .statistiqueMessagerie .affichageStatistiques {
    margin: 10px 0 20px 0; }
    .statistiqueMessagerie .affichageStatistiques h3 {
      font-size: 20px; }
    .statistiqueMessagerie .affichageStatistiques p {
      font-size: 17px;
      margin-bottom: 30px; }

/*Fin Messagerie*/
.titreGauche {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 5px; }

.rechercheActiviteStat {
  display: inline-block;
  margin-bottom: 20px; }

.editeurRechercheStatActivite {
  width: 100px; }

.affichageStatActivite {
  margin-bottom: 20px; }

/*Début liste Abonnements*/
.listeDesFactures h3 {
  margin: 0;
  padding: 30px 0 15px 0; }

.listeDesFactures .headerAbonnements {
  font-weight: bold; }

.listeDesFactures .unAbonnement, .listeDesFactures .headerAbonnements {
  width: 100%; }
  .listeDesFactures .unAbonnement div, .listeDesFactures .headerAbonnements div {
    text-align: center;
    display: inline-block; }

.listeDesFactures .headerAbonnements {
  margin-bottom: 5px; }

.listeDesFactures .sectionAbonnementBackground {
  margin-top: 1%; }

.listeDesFactures .unAbonnement {
  width: 100%;
  line-height: 40px;
  padding: 1% 0;
  cursor: pointer;
  background-color: #f6ffc7;
  color: black; }
  .listeDesFactures .unAbonnement:hover, .listeDesFactures .unAbonnement:focus {
    text-decoration: none;
    color: black; }

.surnomAbonnement {
  width: 8%; }

.nomMembreAbonnement {
  width: 8%; }

.prenomMembreAbonnement {
  width: 8%; }

.typeAbonnement {
  width: 13%; }

.datePaiement {
  width: 16%; }

.dateDebut {
  width: 16%; }

.dateFin {
  width: 16%; }

.coutTotal {
  width: 8%; }

.coutTotalAffiche {
  text-align: right !important;
  margin-right: 2%;
  width: 6%; }

/*Fin liste Abonnements*/
/*Début forfaits Premium*/
.lesForfaits {
  width: 80%;
  margin: 0 auto; }
  .lesForfaits h1 {
    text-align: center; }
  .lesForfaits .lesForfaitsDetails .headerForfaits div {
    display: inline-block;
    font-weight: bold;
    text-align: center; }
  .lesForfaits .lesForfaitsDetails .unForfait {
    margin: 20px 0; }
    .lesForfaits .lesForfaitsDetails .unForfait div {
      display: inline-block;
      text-align: center; }

.boutonSauvegarderForfaitsAbonnement {
  text-align: right;
  margin-right: 25%;
  margin-top: 50px; }

.messageErreurForfait {
  display: block;
  color: red;
  text-align: center;
  margin: 0;
  margin-top: 5px; }

.reussiMessage {
  color: green;
  text-align: center;
  margin: 20px; }

.editeursForfait {
  width: 50%; }

.nbMoisAbonnementForfaitPremium {
  width: 20%; }

.prixParMoisForfaitPremium {
  width: 20%; }

.prixTotalForfaitPremium {
  width: 20%; }

.pourcentageDeRabais {
  width: 20%; }

/*Fin forfaits premium*/
/*Début Modifier Mot de Passe Admin*/
#changerMDPAdmin {
  background-color: #f2f2f2;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  height: 820px;
  padding: 50px; }
  #changerMDPAdmin .messageConfirmationMotDePasse {
    color: green; }
  #changerMDPAdmin h1 {
    margin: 0 0 50px 0;
    font-weight: bold; }
  #changerMDPAdmin .champ {
    margin-top: 30px; }
  #changerMDPAdmin .labels {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px; }
  #changerMDPAdmin .messageErreurMotDePasseAdmin {
    color: red;
    text-align: center;
    margin-top: 15px;
    display: block; }
  #changerMDPAdmin button {
    margin-top: 20px; }

/*Fin Modifier Mot de Passe Admin*/
/*Début Edit compte admin*/
.editCol {
  width: 250px; }

.editAdmin {
  text-align: center; }

.titreEdit {
  text-align: center;
  color: #881983;
  font-size: 30px; }

.editGroup {
  margin-left: 25%; }

.lienEdit {
  text-align: left;
  margin-left: 155px; }

