@*------------------------------------------------------------------------------------

    VUE CONTENANT LA FAQ DU SITE

        --------------------------------------------------------------------------------------
        Par: Anthony Brochu et Marie-Ève Massé
        Novembre 2017
        Club Contact
        ------------------------------------------------------------------------------------*@  

@Styles.Render("~/Content/FAQ.css")

    <h1 class="titreFAQ">Foire au question du site Club Contact</h1>
<div class="FAQ">
    <div>
        <a class="versionImprimableLien" href="@Url.Content("~/Content/FAQ-de-Club-Contact.pdf")">Voir en version imprimable</a>

        <h2>Compte / mot de passe</h2>
        <div class="section">
            <a class="barreSection" href="#question1" data-toggle="collapse">
                <h3>#1 Comment puis-je m'inscrire?</h3>
            </a>
            <div id="question1" class="refermable collapse">
                <p>Sur la page d’accueil de notre site web, sous les images de membres et d’activités, il y a ce bloc :</p>
                <img src="~/Photos/FAQ/1.png" />
                <p>
                    Après avoir entré votre sexe et la raison de votre venu sur notre site dans les cases appropriées, appuyez
                    sur le bouton « Je m’inscrit » et vous serez redirigez automatiquement vers le formulaire d’inscription complet.
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question2" data-toggle="collapse">
                <h3>#2 Comment puis-je me connecter?</h3>
            </a>
            <div id="question2" class="refermable collapse">
                <p>Sur la page d’accueil, en haut à droite dans la barre de navigation, il y a : </p>
                <img src="~/Photos/FAQ/2-1.png" />
                <p>Si vous cliquez sur l’image, vous serez retourné à la page de connexion:</p>
                <img src="~/Photos/FAQ/2-2.png" />
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question3" data-toggle="collapse">
                <h3>#3 Comment puis-je modifier mon compte?</h3>
            </a>
            <div id="question3" class="refermable collapse">
                <p>
                    Sur la barre de navigation, dans les options sous-jacentes à votre photo de profil disponible au survol de la photo, il y a l’option « Modifier mon profil ». Si vous cliquez dessus, vous allez être redirigé
                    vers le formulaire qui permet de non seulement modifier vos informations mais également de compléter votre profil.
                </p>
                <img src="~/Photos/FAQ/3.png" />
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question4" data-toggle="collapse">
                <h3>#4 Comment ajouter des photos dans l'option "Modifier mon compte"?</h3>
            </a>
            <div id="question4" class="refermable collapse">
                <p>Pour ajouter une photo il suffit d’appuyer sur cette image: </p>
                <img src="~/Photos/FAQ/4.png" />
                <p>
                    Si vous êtes un membre gratuit, il est normal que vous ne puissiez pas mettre plus de 5
                    photos sur votre compte, car c’est la limite pour les membres gratuits. Pour les membres premium, c’est 12 photos maximum.
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question5" data-toggle="collapse">
                <h3>#5 Comment me déconnecter?</h3>
            </a>
            <div id="question5" class="refermable collapse">
                <p>
                    Sur la barre de navigation, dans les options sous-jacentes à votre photo de profil disponible au survol de la photo, il y a l’option « Déconnexion ». Voir l’image
                    de la question #3 « Comment puis-je modifier mon compte? ». Si vous cliquez dessus, vous allez être déconnecté.
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question6" data-toggle="collapse">
                <h3>#6 Comment changer mon mot de passe?</h3>
            </a>
            <div id="question6" class="refermable collapse">
                <p>
                    Sur la barre de navigation, dans les options sous-jacentes à votre photo de profil disponible au survol de la photo, il y a l’option « Options ». Si vous cliquez dessus, vous allez être redirigé vers le formulaire qui permet de non seulement modifier votre mot de passe, mais
                    également de supprimer votre compte. Voir l’image de la question #3 « Comment puis-je modifier mon compte? »
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question7" data-toggle="collapse">
                <h3>#7 Quoi faire si j'ai oublié mon mot de passse?</h3>
            </a>
            <div id="question7" class="refermable collapse">
                <p>
                    Faites comme à la question #2 « Comment puis-je me connecter ? » et allez à la page de connexion. Vous verrez un lien entre « Se souvenir de moi » et le bouton « Se connecter » qui s’appelle
                    « Mot de passe oublié ? ». Appuyez dessus pour recevoir un courriel qui vous permettera de réinitialiser votre mot de passe.
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question8" data-toggle="collapse">
                <h3>#8 Comment supprimer mon compte?</h3>
            </a>
            <div id="question8" class="refermable collapse">
                <p>Sur la barre de navigation, dans les options sous-jacentes à votre photo de profil disponible au survol de la photo, il y a l’option « Options ». Si vous cliquez dessus, vous allez être redirigé vers le formulaire qui permet de non seulement supprimer votre compte, mais
                    également de changer votre mot de passe. Voir l’image de la question #3 « Comment puis-je modifier mon compte? »</p>
            </div>
        </div>
    </div>

    <div>
        <h2>Premium</h2>
        <div class="section">
            <a class="barreSection" href="#question9" data-toggle="collapse">
                <h3>#9 Comment devenir Premium?</h3>
            </a>
            <div id="question9" class="refermable collapse">
                <p>
                    Sur la barre de navigation, dans les options sous-jacentes à votre photo de profil disponible au survol de la photo, il y a l’option « Mon abonnement ». Voir l’image de la question #3 « Comment puis-je modifier mon compte? ». Si vous cliquez dessus, vous allez être redirigé vers le formulaire qui permet de voir les forfaits disponibles. Lorsque vous avez choisi le forfait que vous
                    désirez, cliquez sur le bouton « Ajouter ce forfait » correspondant pour être redirigé vers la page de paiement.
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question10" data-toggle="collapse">
                <h3>#10 Comment savoir quand mon abonnement Premium expire?</h3>
            </a>
            <div id="question10" class="refermable collapse">
                <p>
                    Sur la barre de navigation, dans les options sous-jacentes à votre photo de profil disponible au survol de la photo, il y a l’option « Mon abonnement ». Voir l’image de la question #3 « Comment puis-je modifier mon compte? ». Si vous cliquez dessus, vous
                    allez être redirigé vers le formulaire qui permet de voir les forfaits disponibles et en haut de cette page, vous verrez la date d'expiration de votre abonnement :
                </p>
                <img src="~/Photos/FAQ/10.png" />
            </div>
        </div>
    </div>

    <div>
        <h2>Membres</h2>
        <div class="section">
            <a class="barreSection" href="#question11" data-toggle="collapse">
                <h3>#11 Comment puis-je faire une recherche de membre?</h3>
            </a>
            <div id="question11" class="refermable collapse">
                <p>
                    Dans la barre de recherche, il y a l’option « Recherche ». Si vous êtes un membre gratuit, vous n’avez qu’à cliquer dessus pour être
                    redirigé vers la page de recherche de membres. Si vous êtes un membre Premium, vous avez deux options :
                </p>
                <img src="~/Photos/FAQ/11.png" />
                <p>
                    La recherche « Simple » permet, comme pour les membres gratuits, de faire une recherche par le sexe, le sexe qui intéresse cette personne,
                    son âge, ce pourquoi cette personne est sur le site, sa province, sa ville ou par la distance en km.
                </p>
                <p>Pour la recherche avancée, tant qu’à elle, il y a l’option : </p>
                <img src="~/Photos/FAQ/11-2.png" />
                <p>
                    qui se rajoute. Elle permet de chercher quelqu’un « Pour trouver l’amour » ou « Pour faire une activité ». Si vous prenez l’option « Trouver l’amour », vous pourrez chercher un membre avec les critères supplémentaires suivants : Sa situation financière, son niveau d’étude, sa religion, son nombre d’enfant et son désir d’avoir des enfants. Pour l’option « Faire une activité », vous allez pouvoir sélectionner le type d’activité que vous voulez faire (social, sport, culturel, art, musique et passe-temps) et ensuite sélectionner le champ d’intérêt visé. Si une personne
                    répond à vos critères et a mis comme intérêt celui que vous chercher, il sera dans vos résultat de recherche.
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question12" data-toggle="collapse">
                <h3>#12 Comment envoyer un message à un autre membre?</h3>
            </a>
            <div id="question12" class="refermable collapse">
                <p>Allez sur la page de profil du membre auquel vous voulez envoyer un message et appuyez sur le bouton :</p>
                <img src="~/Photos/FAQ/12-1.png" />
                <p>situé dans le bas de la page. Ensuite, sur la nouvelle page qui s’ouvre, entrez l’objet du message, le contenu du message, et appuyez sur le bouton :</p>
                <img src="~/Photos/FAQ/12-2.png" />
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question13" data-toggle="collapse">
                <h3>#13 Comment puis-je signaler un message ou un membre?</h3>
            </a>
            <div id="question13" class="refermable collapse">
                <p>Pour signaler un message, il suffit de cliquer sur le bouton :</p>
                <img src="~/Photos/FAQ/13-1.png" />
                <p>disponible au-dessus de tous les messages et de répondre à la question qui apparaît.</p>
                <img src="~/Photos/FAQ/13-2.png" />
                <p>Pour signaler un membre, il faut aller sur sa page de profil et appuyer sur le bouton :</p>
                <img src="~/Photos/FAQ/13-3.png" />
                <p>disponible dans le bas de la page de profil et ensuite répondre à la question qui apparaît.</p>
                <img src="~/Photos/FAQ/13-4.png" />
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question14" data-toggle="collapse">
                <h3>#14 Comment puis-je voir les membres qui sont allés voir mon profil?</h3>
            </a>
            <div id="question14" class="refermable collapse">
                <p>
                    Si vous êtes un membre gratuit, il est normal que vous ne puissiez pas voir les membres qui sont allés voir votre profil, car c’est un
                    avantage Premium. Pour les membres Premium, il suffit d’appuyer sur :
                </p>
                <img src="~/Photos/FAQ/14.png" />
                <p>Situé dans la barre de navigation.</p>
            </div>
        </div>
    </div>

    <div>
        <h2>Bloquer / Favoris</h2>
        <div class="section">
            <a class="barreSection" href="#question15" data-toggle="collapse">
                <h3>#15 Comment puis-je bloquer quelqu'un?</h3>
            </a>
            <div id="question15" class="refermable collapse">
                <p>Pour bloquer quelqu’un, il faut aller sur sa page de profil et appuyez sur le bouton :</p>
                <img src="~/Photos/FAQ/15-1.png" />
                <p>Situé au bas de la page. Après si vous allez sur : </p>
                <img src="~/Photos/FAQ/15-2.png" />
                <p>Situé dans la barre de navigation, vous verrez que cette personne a été ajoutée.</p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question16" data-toggle="collapse">
                <h3>#16 Qu'est-ce que cela fait de bloquer quelqu'un?</h3>
            </a>
            <div id="question16" class="refermable collapse">
                <p>
                    Bloquer quelqu’un, comme vu à la question #15 « Comment puis-je bloquer quelqu’un? », fait en sorte que cette personne-là ne peut pas participer à vos activités si vous en créer,
                    vous ne le verrez plus dans vos résultats de recherche, il ne vous verra plus dans ses résultats de recherche, et il ne pourra plus vous envoyer de messages.
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question17" data-toggle="collapse">
                <h3>#17 Comment puis-je ajouter un membre à ma liste de favoris?</h3>
            </a>
            <div id="question17" class="refermable collapse">
                <p>Pour ajouter quelqu’un aux favoris, il faut aller sur sa page de profil et appuyer sur le bouton étoile sur la photo de profil: </p>
                <img src="~/Photos/FAQ/17-1.png" />
                <p>Après, si vous allez sur :</p>
                <img src="~/Photos/FAQ/17-2.png" />
                <p>Situé dans la barre de navigation, vous verrez que cette personne a été ajoutée.</p>
            </div>
        </div>
    </div>

    <div>
        <h2>Activités</h2>
        <div class="section">
            <a class="barreSection" href="#question18" data-toggle="collapse">
                <h3>#18 Comment créer une activité?</h3>
            </a>
            <div id="question18" class="refermable collapse">
                <p>Pour créer une activité, il faut être premium. Si vous êtes premium, il suffit de cliquer sur le bouton « Créer »:</p>
                <img src="~/Photos/FAQ/18.png" />
                <p>Sous l’option « Activités » de la barre de navigation, afin d’être automatiquement redirigé vers la page « J’organise une activité ».</p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question19" data-toggle="collapse">
                <h3>#19 Comment faire une recherche d'activité?</h3>
            </a>
            <div id="question19" class="refermable collapse">
                <p>Il suffit de cliquer sur le bouton :</p>
                <img src="~/Photos/FAQ/19.png" />
                <p>
                    De la barre de navigation. Ensuite, vous pourrez faire une recherche d’activité avec les critères suivants : date,
                    mot clé, thème, voir uniquement les activités auxquelles vous participez, et les activités que vous organisez (premium seulement)
                </p>
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question20" data-toggle="collapse">
                <h3>#20 Comment participer à une activité?</h3>
            </a>
            <div id="question20" class="refermable collapse">
                <p>Il suffit de cliquer sur l’activité :</p>
                <img src="~/Photos/FAQ/20-1.png" />
                <p>Pour quelle s’ouvre et offre le bouton :</p>
                <img src="~/Photos/FAQ/20-2.png" />
            </div>
        </div>

        <div class="section">
            <a class="barreSection" href="#question21" data-toggle="collapse">
                <h3>#21 Comment se désister d'une activité?</h3>
            </a>
            <div id="question21" class="refermable collapse">
                <p>Faire comme à la question #20 « Comment participer à une activité », mais le bouton sera pas le même, il va afficher : </p>
                <img src="~/Photos/FAQ/21.png" />
            </div>
        </div>
    </div>

    <div class="section">
        <a class="barreSection" href="#question22" data-toggle="collapse">
            <h3>#22 Comment commenter/coter une activité lorsqu'elle est passée?</h3>
        </a>
        <div id="question22" class="refermable collapse">
            <p>Il suffit de cliquer sur l’onglet « Passés » disponible dans la page de recherche d’activité (voir question #19 « Comment rechercher une activité ? »)</p>
            <img src="~/Photos/FAQ/22-1.png" />
            <p>Trouvez l’activité désirée, cliquez dessus pour l’ouvrir et écrire votre commentaire dans la zone :</p>
            <img src="~/Photos/FAQ/22-2.png" />
            <p>Ne pas oublier de cliquer sur le bouton sauvegarder.</p>
        </div>
    </div>

    <div class="section">
        <a class="barreSection" href="#question23" data-toggle="collapse">
            <h3>#23 Comment ajouter une photo à une activité lorsqu'elle est passée?</h3>
        </a>
        <div id="question23" class="refermable collapse">
            <p>
                Faire comme à la question # 22 « Comment commenter/coter une activité lorsqu’elle est passée? »,
                mais appuyez sur l’image d’appareil photo au lieu de la zone de commentaire :
            </p>
            <img src="~/Photos/FAQ/23-1.png" />
            <p>Ensuite sélectionner :</p>
            <img src="~/Photos/FAQ/23-2.png" />
            <p>Et n'oubliez pas de sauvegarder :</p>
            <img src="~/Photos/FAQ/23-3.png" />
        </div>
    </div>

    <div class="section">
        <a class="barreSection" href="#question24" data-toggle="collapse">
            <h3>#24 Comment annuler une activité?</h3>
        </a>
        <div id="question24" class="refermable collapse">
            <p>
                Annuler une activité est exclusivement disponible pour le membre Premium qui a créé l’activité. Pour annuler une activité, il faut faire comme à la question #20
                « Comment participer à une activité? », mais sur une activité que l'on a créée et appuyer sur le bouton :
            </p>
            <img src="~/Photos/FAQ/24-1.png" />
            <p>Descendre dans le bas de la page et appuyez sur la zone « Annulation » :</p>
            <img src="~/Photos/FAQ/24-2.png" />
            <p>Qui va s’ouvrir et montrer le bouton :</p>
            <img src="~/Photos/FAQ/24-3.png" />
        </div>
    </div>

</div>
